<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constellation.name %>
</p>

<%= link_to 'Edit', edit_constellation_path(@constellation) %> |
<%= link_to 'Back', constellations_path %>
