html, body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.main {
  padding-bottom: 50px;
  background-color: #050;
}

.header {
    background-color: #000;
}

.footer {
  position: absolute;
  buttom: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
}
