/*
base.css
*/

/*--------------------------
General
--------------------------*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


/*--------------------------
Components
--------------------------*/

#map {
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.stars, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: transparent url("../image/stars.png") repeat top center;
    z-index: 1;
    pointer-events: none;
}

.clouds {
    background: transparent url("../image/clouds.png") repeat top center;
    z-index: 3;
    pointer-events: none;

    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

/*--------------------------
Animation
--------------------------*/
/* clouds */
@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}